.main-lvl1 {
  background-image: url("../images/logotip-navi-natus-vincere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.main-lvl2 {
  background-image: url("../images/logotip-navi-natus-vincere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.paragraph {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("../images/rybaska.png");
}

.card__face--back {
  transform: rotateY(180deg);
}
.people_card_photo {
  width: 180px;
  height: 250px;
}

.flex-container-1 {
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 50px;
  perspective: 600px;
}

.flex-container-2 {
  width: 1260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 50px;
  perspective: 600px;
}

.inner {
  width: 180px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  margin-right: 30px;
  margin-bottom: 30px;
}
.inner.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.back {
  background-color: orange;
  border: none;
  color: white;
  padding: 20px 10px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 42px;
  margin-right: 1500px;
  position: fixed;
}

.settings{
  text-align: center;
  position: fixed;
}

